@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);
  }

body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #000;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: PermanentMarker;
}

.container {
    max-width: 800px !important;
}

footer {
    background-color: #23282d;
    color: rgb(155, 161, 167);
}

.bi-instagram {
    color: rgb(155, 161, 167);
    font-size: 3em;
}

.bi-telegram {
    color: black;
    font-size: 3em;
}

footer .bi-telegram {
    color: rgb(155, 161, 167);
}

a {
    color: #9C6EB8;
}

a:hover {
    color: #6c4981;
}

.nav-link {
    font-size: large;
    color: #000 !important;
}

.nav-link:hover {
    color: #9C6EB8 !important;
}

@media (max-width: 991.98px) {
    .nav-link {
        font-size: 3em;
    }
}

.card-header:hover {
    cursor: pointer;
}